body {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

:root {
    --bar-width:60px;
    --bar-height:8px;
    --hamburgerGap:5px;
    --foreground:#333;
    --background:white;
}

.hamburgerMenu::before,
.hamburgerMenu::after,
.hamburgerMenu input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
}

.hamburgerMenu {
    display: flex;
    flex-direction: column;
    gap: var(--hamburgerGap);
}

.hamburgerMenu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburgerMenu input:checked{
    background: 
}
header{
    max-width: 100%;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ccc;
}

img{
    cursor: pointer;
}

div > ul{
    list-style-type: none;
    padding: 5px;
    
    display: inline-block;

}

#hamburger{
    margin-left: -5px;
    border: 1px solid #dd3;
    display: inline-block;
    position: relative;
    top: 100;
    left: 1000;
}
